{% extends 'main.html' %}

{% set active_page = 'about' %}

{% block head %}
<title>Deckiherdiawans | About</title>
{% endblock %}

{% block body %}
<section class="section about">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>About Me</h2>
            </div>
        </div>
        <div class="row">
            <div class="about-content padd-15">
                <div class="row">
                    <div class="about-text padd-15">
                        <h3>
                            Decki Herdiawan Soepandi,
                            <span>Customer Support</span> at <a href="http://revota.com" target="_blank">PT. Ava
                                Revota</a>.
                        </h3>
                        <p>
                            Hi! My name is Decki Herdiawan Soepandi. I currently work as a Customer Support at PT. Ava
                            Revota, an IT
                            consultant company, for more than two years and a half. My last education degree for now is
                            an Associate/Diploma
                            of Information Systems, graduated in March 2020 from LPKIA. I want to start my job as a
                            programmer, whether it
                            freelance or a full-time job. I can build a website or a web-based software with PHP
                            (CodeIgniter & Laravel
                            framework) or NodeJS for the back-end, and CSS & JavaScript for the front-end. I can also
                            build a mobile/desktop
                            software with Java (NetBeans & Android Studio), Visual Basic & C# (Visual Studio 2019). I
                            live in Padalarang,
                            but my activities mostly based in Bandung city.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="personal-info">
                        <div class="info-item padd-15">
                            <p>
                                Address: <span>Perumahan Citra Padalarang Indah Blok B-11 RT. 04 RW. 20,
                                    Jayamekar, Padalarang, Bandung Barat, Jawa Barat, Indonesia, 40553</span>
                            </p>
                        </div>
                    </div>
                    <div class="personal-info1 padd-15">
                        <div class="row">
                            <div class="info-item padd-15">
                                <p>Birthdate: <span>20 November 1993</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>Marital Status: <span>Single</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>Degree: <span>Associate/Diploma of Information Systems</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="personal-info2 padd-15">
                        <div class="row">
                            <div class="info-item padd-15">
                                <p>Email: <span>d.herdiawan.s@gmail.com</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>Phone: <span>+62 822 1666 8131</span></p>
                            </div>
                            <div class="info-item padd-15">
                                <p>Availability: <span>Freelance only</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="edex padd-15">
                        <div class="timeline shadow-dark">
                            <h3 class="edex-title padd-15">Education</h3><br>
                            <div class="timeline-item">
                                <div class="circle-dot"></div>
                                <h6 class="timeline-date"><i class="fas fa-fw fa-calendar-alt"></i>2016 - 2019</h6>
                                <h4 class="timeline-title">Associate/Diploma of Information Systems</h4>
                                <ul class="timeline-text">
                                    <li>Polytechnic LPKIA, Bandung</li>
                                    <li>Management of Information Systems Major</li>
                                    <li>Information Systems Concentration</li>
                                    <li>GPA 3.26</li>
                                </ul>
                            </div>
                            <div class="timeline-item">
                                <div class="circle-dot"></div>
                                <h6 class="timeline-date"><i class="fas fa-fw fa-calendar-alt"></i>2009 - 2012</h6>
                                <h4 class="timeline-title">Vocational High School</h4>
                                <ul class="timeline-text">
                                    <li>SMK TI Pembangunan, Cimahi</li>
                                    <li>Industrial Electronics & Computers Major</li>
                                </ul>
                            </div>
                            <div class="timeline-item">
                                <div class="circle-dot"></div>
                                <h6 class="timeline-date"><i class="fas fa-fw fa-calendar-alt"></i>2006 - 2009</h6>
                                <h4 class="timeline-title">Junior High School</h4>
                                <ul class="timeline-text">
                                    <li>SMP Negeri 3, Cimahi</li>
                                </ul>
                            </div>
                            <div class="timeline-item item-last-child">
                                <div class="circle-dot"></div>
                                <h6 class="timeline-date"><i class="fas fa-fw fa-calendar-alt"></i>2001 - 2006</h6>
                                <h4 class="timeline-title">Elementary School</h4>
                                <ul class="timeline-text">
                                    <li>SD Negeri Rancaloa 2, Riung Bandung</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="edex padd-15">
                        <div class="timeline shadow-dark">
                            <h3 class="edex-title padd-15">Experience</h3><br>
                            <div class="timeline-item">
                                <div class="circle-dot"></div>
                                <h6 class="timeline-date"><i class="fas fa-fw fa-calendar-alt"></i>3 January 2018 - Now
                                </h6>
                                <h4 class="timeline-title">Customer Support at PT. Ava Revota</h4>
                                <p class="timeline-subtitle">IT consultant for apparel industry based in Bandung city.
                                </p>
                                <ul class="timeline-text">
                                    <li>System installation and configuration</li>
                                    <li>Database administrator</li>
                                    <li>Problem troubleshooting</li>
                                </ul>
                            </div>
                            <div class="timeline-item">
                                <div class="circle-dot"></div>
                                <h6 class="timeline-date"><i class="fas fa-fw fa-calendar-alt"></i>February - Juli 2017
                                </h6>
                                <h4 class="timeline-title">Logistic Administrator at CV. Surya Glass</h4>
                                <p class="timeline-subtitle">Distribution for every kind of glasses.</p>
                                <ul class="timeline-text">
                                    <li>Data entry</li>
                                    <li>Stock keeping</li>
                                    <li>Stock opname</li>
                                </ul>
                            </div>
                            <div class="timeline-item">
                                <div class="circle-dot"></div>
                                <h6 class="timeline-date"><i class="fas fa-fw fa-calendar-alt"></i>October 2014 -
                                    January 2016</h6>
                                <h4 class="timeline-title">Engineering Staff at Kartika Sari</h4>
                                <p class="timeline-subtitle">Food and beverages industry.</p>
                                <ul class="timeline-text">
                                    <li>Maintenance of Air Conditioners / Cooling Machines, Electricity and Plumbing
                                        Installations</li>
                                    <li>Build electricity and plumbing installation in construction projects</li>
                                    <li>Repair electronic stuff</li>
                                </ul>
                            </div>
                            <div class="timeline-item item-last-child">
                                <div class="circle-dot"></div>
                                <h6 class="timeline-date"><i class="fas fa-fw fa-calendar-alt"></i>March 2013 - January
                                    2014</h6>
                                <h4 class="timeline-title">Logistic Administrator at PT. Bersama Zatta Jaya (Elzatta
                                    brand)</h4>
                                <p class="timeline-subtitle">Apparel industry.</p>
                                <ul class="timeline-text">
                                    <li>Data entry</li>
                                    <li>Stock keeping</li>
                                    <li>Stock opname</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}